
      <form method="post" action="">
        <div>
          <div>
            <label class="checkbox">
              <h5 class="muted">标题：</h5>
              <input type="text" id="title" name="title" style="width:500px"placeholder="输入标题..."></input>
            </label> 
            <label class="checkbox">
              <h7 class="muted">分类：</h7>
              <select id="category">
              <% for(var i=0;i<locals.categorys.length;i++){%>
                <option value="<%= locals.categorys[i].cid%>"><%= locals.categorys[i].name%></option>
              <% }%>
              </select>
            </label> 
          </div>
          <div>
            <label class="checkbox">
              <h5 class="muted">内容：</h5>
              <textarea id="content" name="content" rows="15" cols="100" textarea class="ckeditor"></textarea>
            </label>  
          </div>
          <br />
          <label class="checkbox">
            <input type="checkbox"> 保存为草稿
          </label>
          <input type="hidden" id="bid" name="bid"></input>
          <input id="save" class="btn btn-large btn-primary" type="button" name="save" value="发布"/>
          <input id="draft" class="btn btn-large btn-primary" type="reset" name="reset" value="reset" />
        </div>
      </form>
	<script src="/ckeditor/ckeditor.js"></script>

	<script type="text/javascript">
  		CKEDITOR.replace( 'content', {});
	</script>
	<script type="text/javascript">
        $().ready(function() {
          $('#save').click(function(){
          	var bid = $('#bid').val();
            var title = $('#title').val();
            var editor = CKEDITOR.instances.content;
            var content = editor.getData();
            var category = $('#category').val();
            
            var params = {
              bid:bid,
              title:title,
              content:content,
              category:category
            };
            $.post('/post/edit',params,function(data){
              alert(data.msg);
            });
          });
        });

</script>

<script type="text/javascript">
        $().ready(function() {

            $.get('/post/<%= locals.blog.bid%>',function(data){
          		$('#title').val(data.title);
        		var editor = CKEDITOR.instances.content;
				editor.setData(data.content);
          		$('#category').val(data.category);
          		$('#bid').val(data.bid);
            });
        });
</script>
