<div class="span2 bs-docs-sidebar" style="padding-top:30px">
    <div class="well sidebar-nav">
        <ul id="navlist" class="nav nav-list bs-docs-sidenav">
            <li class="active"><a href="/admin/main">概况</a></li>
            <li class="nav-header"><h5>文章</h5></li>
            <li><a href="/admin/list">所有文章<i class="icon-chevron-right"></i></a></li>
            <li><a href="/admin/new">新文章<i class="icon-chevron-right"></i></a></li>
            <li><a href="#">草稿<i class="icon-chevron-right"></i></a></li>
            <li class="nav-header"><h5>设置</h5></li>
            <li><a href="#">首页设置<i class="icon-chevron-right"></i></a></li>
            <li><a href="#">文章设置<i class="icon-chevron-right"></i></a></li>
        </ul>
    </div>
</div>