 <div id="footer">
      <div class="container-fluid">
        <p align="center">Powered by <a href="http://nodejs.org">NodeJS </a>  and  <a href="http://www.raspberrypi.org/">Raspberry Pi <img style="vertical-align:middle;" src="/img/raspi-logl.png" ></a></p>
      </div>
    </div>